@model IEnumerable<DevWeb_Trab_Final.Models.Dispositivos>

@{
    ViewData["Title"] = "Index";
}
@{
    var cliente = Model.FirstOrDefault(c => User.Identity.Name.Equals(c.Cliente.Email))?.Cliente;
}

@if(User.IsInRole("Cliente")){
    @if (cliente!= null)
    {
        <h2>Dispositivos de @cliente.Nome</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Data de Registro</th>
                    <th>Modelo</th>
                    <th>Estado</th>
                    <th>Fotografia</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var dispositivo in cliente.ListaDipositivos)
                {
                   
                     <tr>
                        <td>@dispositivo.Tipo</td>
                        <td>@dispositivo.DataReg</td>
                        <td>@dispositivo.Modelo</td>
                        <td>@dispositivo.Estado</td>
                        <td>
                            @foreach (var foto in dispositivo.ListaFotografias) {
                                <p>
                                    <img src="~/imagens/@foto.NomeFoto"
                                         width="100px" />
                                </p>
                            }
                        </td>
                     </tr>
                }
            </tbody>
        </table>
    }
}