@using DevWeb_Trab_Final.ViewModels
@model AdministradorView

@{
    ViewData["Title"] = "Administrador";
}

<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">Administração</h1>
                </div>
            </div>
        </div>
    </div>
</section>
 <div class="accordion" id="accordionExample">


    @if (User.IsInRole("Administrador") || User.IsInRole("Funcionario")){
        @*Cliente*@
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingClientes">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseClientes" aria-expanded="false" aria-controls="collapseClientes">Clientes</button>
            </h2>
            <div id="collapseClientes" class="accordion-collapse collapse" aria-labelledby="headingClientes" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    @if (User.IsInRole("Funcionario"))
                    {
                        <p>
                            <a asp-area="Identity" asp-page="/Account/Register">Registar novo cliente</a>
                        </p>
                    }
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Clientes.First().Nome)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Clientes.First().NIF)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Clientes.First().Morada)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Clientes.First().CodPostal)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Clientes.First().Email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Clientes.First().Telemovel)
                                </th>
                                <th>
                                    Opções
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Clientes)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nome)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NIF)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Morada)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CodPostal)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Telemovel)
                                    </td>
                                    <td>
                                        <a asp-controller="Clientes" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                                        <a asp-controller="Clientes" asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                                        <a asp-controller="Clientes" asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
}
    @if (User.IsInRole("Administrador") || User.IsInRole("Funcionario"))
    {
        @*Reparação*@
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingReparacoes">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseReparacoes" aria-expanded="false" aria-controls="collapseReparacoes">Reparações</button>
            </h2>
            <div id="collapseReparacoes" class="accordion-collapse collapse" aria-labelledby="headingReparacoes" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>
                        <a asp-controller="Reparacaos" asp-action="Create" >Criar novo registo</a>
                    </p>
                    <h3>Reparações por concluir</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Reparacao.First().DataInicio)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Reparacao.First().Custo)/€
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Reparacao.First().Observacao)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Reparacao.First().Dispositivo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Reparacao.First().Funcionarios)
                                </th>
                                <th>
                                    Opções
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Reparacao)
                            {
                                @if (item.DataFim == null)
                                {
                                    <tr>
                                        <td>
                                        @Html.DisplayFor(modelItem => item.DataInicio)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Custo)€
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Observacao)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Dispositivo.Tipo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Funcionarios.Nome)
                                    </td>
                                    <td>
                                        <a asp-controller="Reparacaos" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                                        <a asp-controller="Reparacaos" asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                                        <a asp-controller="Reparacaos" asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                                    </td>
                                </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <h3>Reparações concluídas</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Reparacao.First().DataInicio)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Reparacao.First().DataFim)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Reparacao.First().Custo)/€
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Reparacao.First().Observacao)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Reparacao.First().Dispositivo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Reparacao.First().Funcionarios)
                                </th>
                                <th>
                                    Opções
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Reparacao)
                            {
                                @if (item.DataFim.HasValue)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DataInicio)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DataFim)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Custo)€
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Observacao)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Dispositivo.Tipo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Funcionarios.Nome)
                                        </td>
                                        <td>
                                            <a asp-controller="Reparacaos" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                                            <a asp-controller="Reparacaos" asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                                            <a asp-controller="Reparacaos" asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
    @if (User.IsInRole("Administrador") || User.IsInRole("Funcionario"))
    {
        @*Dispositivos*@
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingDispositivos">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDispositivos" aria-expanded="false" aria-controls="collapseDispositivos">Dispositivos</button>
            </h2>
            <div id="collapseDispositivos" class="accordion-collapse collapse" aria-labelledby="headingDispositivos" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>
                        <a asp-controller="Dispositivos" asp-action="Create">Criar novo registo</a>
                    </p>
                    <h3>Dispositivos por reparar</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Dispositivos.First().Tipo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Dispositivos.First().DataReg)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Dispositivos.First().Modelo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Dispositivos.First().Estado)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Dispositivos.First().Cliente)
                                </th>
                                <th>
                                    Opções
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Dispositivos)
                            {
                                @if (item.ListaReparacao.Count == 0 || item.ListaReparacao.Any() && item.ListaReparacao.Last().DataFim == null)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Tipo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DataReg)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Modelo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Estado)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Cliente.Email)
                                        </td>
                                        <td>
                                            <a asp-controller="Dispositivos" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                                            <a asp-controller="Dispositivos" asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                                            <a asp-controller="Dispositivos" asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <h3>Dispositivos reparado</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Dispositivos.First().Tipo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Dispositivos.First().DataReg)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Dispositivos.First().Modelo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Dispositivos.First().Estado)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Dispositivos.First().Cliente)
                                </th>
                                <th>
                                    Opções
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Dispositivos)
                            {
                                @if (item.ListaReparacao.Any() && item.ListaReparacao.Last().DataFim.HasValue)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Tipo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DataReg)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Modelo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Estado)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Cliente.Email)
                                        </td>
                                        <td>
                                            <a asp-controller="Dispositivos" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                                            <a asp-controller="Dispositivos" asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                                            <a asp-controller="Dispositivos" asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
    @if (User.IsInRole("Administrador") || User.IsInRole("Funcionario")) 
    {
        @*Funcionario*@
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFuncionarios">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFuncionarios" aria-expanded="false" aria-controls="collapseFuncionarios">Funcionarios</button>
            </h2>
            <div id="collapseFuncionarios" class="accordion-collapse collapse" aria-labelledby="headingFuncionarios" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    @if (User.IsInRole("Administrador")) {
                        <p>
                            <a asp-area="Identity" asp-page="/Account/Register">Registar novo Funcionario</a>
                        </p>
                    }
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Funcionarios.First().Nome)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Funcionarios.First().Morada)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Funcionarios.First().CodPostal)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Funcionarios.First().Email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Funcionarios.First().Telemovel)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Funcionarios.First().Especializacao)
                                </th>
                                @if (User.IsInRole("Administrador"))
                                {
                                    <th>
                                        Opções
                                    </th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Funcionarios)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nome)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Morada)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CodPostal)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Telemovel)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Especializacao)
                                    </td>
                                    @if (User.IsInRole("Administrador")) {
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                                            <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                                            <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>